body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f8fa;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    font-size: 1.8rem;
    color: #172b4d;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
    border: 1px solid #dfe1e6;
    border-radius: 3px;
}

form input:focus {
    outline: none;
    border-color: #0052cc;
}

form button {
    background-color: #0052cc;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0747a6;
}

#tasks-list {
    list-style: none;
    padding: 0;
}

#tasks-list li {
    background-color: white;
    border: 1px solid #dfe1e6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(9, 30, 66, 0.1);
}

a {
    color: #0052cc;
    text-decoration: none;
    font-weight: bold;
}
