<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="icon" href="static/images/todoLOGO.png" 
    type="image/x-icon" >
</head>
<body>
    <div class="container">
        <h2>Register</h2>

        <!-- הצגת הודעות שגיאה או הצלחה -->
        {% if error %}
        <div class="flash-message error">
            {{ error }}
        </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- טופס הרשמה -->
        <form id="register-form" action="{{ url_for('register') }}" method="post">
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button type="submit">Create Account</button>
        </form>

        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
</body>
</html>
