<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="gal libenson"> 
    <meta name="description" content="this page contains all the data from the course"><!--all meta tags can be picked up in a search -->
    <title>user Login</title>
    <link rel="icon" href="todoLOGO.png" 
    type="image/x-icon" > <!--setting tab icon to image --> 
    <link rel="stylesheet" href="/static_css/style.css"> 
</head>
<body>
    <form id="loginForm">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p id="loginMessage"></p>
    <script src="/static/js/js.js"></script>
</body>
</html>
