<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    <link rel="stylesheet" href="/static/css/css.css">
</head>
<body>
    <h1 id="taskName"></h1>
    <p id="taskDescription"></p>
    <form id="updateStatusForm">
        <select id="taskStatus">
            <option value="to-do">To-Do</option>
            <option value="in progress">In Progress</option>
            <option value="done">Done</option>
        </select>
        <button type="submit">Update Status</button>
    </form>
    <script src="/static/js/js.js"></script>
</body>
</html>
